##  Define Tuples

- Python Tuple is a collection of Python Programming objects much like a list.
- The data type that represents an ordered, immutable and sequence of elements
- Similar to lists but the only difference is tuples and cannot be modified
- Defines using paranthesis ()
- seperated by commas ","

## Features of tuples

- Tuple are Immutable.
- Each element in a tuple has a specified order that will never change becoz tuples are ordered sequences

## Examples

In [18]:
## ex 1

A = tuple('Arun_Goud')
print("\nTuple with the use of function: ")
print(A)

Tuple with the use of function:
('A', 'r', 'u', 'n', '_', 'G', 'o', 'u', 'd')

In [28]:
list = [0,2,4,6,8,10,12,14,16,18,20]
print("\nTuple using List: ")
print(tuple(list))

Tuple using List:
(0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20)

In [30]:
mytuple = ("apple", "banana", "cherry")
print(mytuple)

('apple', 'banana', 'cherry')

In [36]:
A = ("apple", "banana", "cherry")
B = (1, 5, 7, 9, 3)
C = (True, False, False)
print(type(A))
print(type(B))
print(type(C))

<class 'tuple'>
<class 'tuple'>
<class 'tuple'>

##  Accessing of tuples

- supports only indexing and slicing

In [62]:
A = ("apple", "banana", "cherry")
print(A[2])

cherry

In [64]:
print(A[0])

apple

In [68]:
B = ("apple", "banana", "mango","watermelon","papaya","dragonfruit","strawberry")
print(B[1:5])

('banana', 'mango', 'watermelon', 'papaya')

In [72]:
print(B[0:5])

('apple', 'banana', 'mango', 'watermelon', 'papaya')

In [74]:
print(B[1:3])

('banana', 'mango')

In [76]:
print(B[:7])

('apple', 'banana', 'mango', 'watermelon', 'papaya', 'dragonfruit', 'strawberry')

## Tuple Operation

- tuple operation are mainly 2 types.

  1) concatination
  2) Repeation

## Concatination

- concatination means combining the 2 tuples is called concatination

In [91]:
A=(1,4,3)
B=("Arun","Keerthi")
result=A+B
print(result)

(1, 4, 3, 'Arun', 'Keerthi')

In [95]:
a=(1,2,3,4,5,20)
b=(9,10,11,12)
ak=a+b
print(ak)

(1, 2, 3, 4, 5, 20, 9, 10, 11, 12)

##  Repetition

- Repetition means it repeats the tuple.

In [108]:
A = (1,2,3,4,5,6,7,8,9,10)
print(A*2)

(1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10)

In [116]:
a = ("Arun","Akhil","Jagadeesh","Salman","Rushi")

print(a*4)

('Arun', 'Akhil', 'Jagadeesh', 'Salman', 'Rushi', 'Arun', 'Akhil', 'Jagadeesh', 'Salman', 'Rushi', 'Arun', 'Akhil', 'Jagadeesh', 'Salman', 'Rushi', 'Arun', 'Akhil', 'Jagadeesh', 'Salman', 'Rushi')

In [122]:
tuple2=(100,99,88,77,66)
result=tuple2*4
print(result)

(100, 99, 88, 77, 66, 100, 99, 88, 77, 66, 100, 99, 88, 77, 66, 100, 99, 88, 77, 66)

## Methods

- methods are classified into

   1) count()
   2) index()

## -- count()

- returns the number of occurences of specified value

In [138]:
A = (1, 2, 2, 3)
print(A.count(2))

2

In [146]:
B = (1, 2, 2, 3,5,4,5,5,5,1,8,6)
print(B.count(5))

4

In [144]:
fruits = ('apple', 'banana', 'orange', 'apple', 'kiwi')
print(fruits.count('apple'))

2

In [148]:
numbers = (1, 2, 3, 1, 4, 1)
print(numbers.count(1))  
print(numbers.count(3))

3
1

##  index()

- Return the index of the first occurence of specified value

In [157]:
f = ('dragon fruit', 'banana', 'apple', 'orange')
i = f.index('apple')
print(i)

2

In [163]:
names = ("Arun","salman","rushi","naveen","jagadesh","manikanta","vamshi","riyaa")
index_i =names.index("riyaa")
print(index_i)

7